@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Roboto:wght@300;400;500&family=Ubuntu:ital,wght@0,400;0,500;1,400&display=swap');



body {
  font-family: Roboto, serif;
  font-weight: 300;
  font-size: 0.9em;
  color: grey
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 2em;
  color: #DE3C4B;
  margin-bottom: 5px;
}

h2 {
  margin-top: 5px;
  font-family: Roboto, serif;
  font-size: 1.2em;
  font-weight: 300;
  color:  #22162B;
}

img {
  border-radius: 50%;
  width: 150px;
}
.description {
  margin: 15px auto;
}

.contact {
  font-family: Roboto, serif;
  font-weight: 500;
  text-decoration: none;
  width: 50px;
  padding: 10px 25px;
  color: white;
  background-color: #DE3C4B;
  border-radius: 4px;
}

.contact:hover {
  background-color: #EA858F;
}

ul {
  list-style-type: none;
  font-size: 2em;
}

ul a {
  color:  #22162B;
}

ul a:hover {
  color:  #724E91;
}

.container {
  width: 50%;
  margin: 40px auto;
  text-align: center;
}

.card {
  margin: 40px;
  padding: 25px;
  box-shadow: 0 0 10px lightgrey;
  border-radius: 6px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 10px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
